h1{
    
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
}
body{
    background-color: ghostwhite
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
ul{
    font-style: italic;
}